  <div class="relative">
  <h2 class="absolute top-left text-white font-bold text-4xl m-2">Pizza List</h2>
  <%= image_tag "nik-owens-40OJLYVWeeM-unsplash.jpg", class: "object-cover h-40 w-full"%>
</div>


  <div id="toppings" class="min-w-full">
     <% if @pizzas.empty?  %>
    <p>There are currently no avaliable pizzas</p>
    <div class="py-3"></div>
    <% else %>
    <table class="table-auto m-2 text-left text-lg">
      <thead>
        <tr>
          <th class>Pizza Name</th>
          <th>Toppings</th>
          <% if current_admin.title != 1%>
            <th colspan="2"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @pizzas.each do |pizza| %>
          <tr>
            <td><div class="pr-4"><%= pizza.pName %></div></td>
            <% if pizza.toppings.exists? %>
            <td>
              <div class="pr-4">
                <% pizza.toppings.each do |top| %>
                  <%= top.name %>
                  <% if top.id != pizza.toppings[pizza.toppings.length - 1].id %>
                  <h>, <h>
                  <%end%>
                <%end %>
              </td>
              <% else %>
                <td>N/A</td>
                <% end %>
              </div>

            <% if current_admin.title != 1%>
              <td><%= link_to 'Edit', edit_pizza_path(pizza), class:  "m-2 actions inline-block px-2 py-1 bg-slate-500 text-white text-xs leading-tight uppercase rounded shadow-md 
              hover:bg-slate-800 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out" %></td>

              <td><%= button_to 'Delete', pizza_path(pizza), method: :delete, class:  "m-2 actions inline-block px-2 py-1 bg-slate-500 text-white text-xs leading-tight uppercase rounded shadow-md 
              hover:bg-slate-800 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out" %></td>
     
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%end%>
    <br/>
    <% if current_admin.title == 2%>  
      <%= link_to 'Create New Pizza', new_pizza_path, class:  "m-2 actions inline-block px-6 py-3 bg-slate-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md 
      hover:bg-slate-800 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out" %>
    <%end%>
  </div>
  <div class="py-2"></div>
</div>
