<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <h2 class="font-bold text-lg">Pizza Created</h2>

    <%= render @pizza %>

    <%= link_to 'Edit', edit_pizza_path(@pizza), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Delete', pizza_path(@pizza), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Create New Pizza', new_pizza_path, class: "rounded-lg py-3 ml-2 px-5 hover:text-white hover:bg-red-900 bg-gray-100 font-medium" %>
    <%= link_to 'Back', pizzas_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
