<!--   <h3>The Ultimate Pizza Machine</h3> -->
<nav class="flex items-center justify-between flex-wrap bg-red-900 p-4 drop-shadow-lg">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">2501 Ave Pizzeria</span>
    </div>
  <!--- Not working, return to later
  
    <div class="block sm:hidden">
        <button class="flex items-center px-2 py-1 border rounded text-white border-white hover:border-2" id="menu-button" aria-expanded="true" aria-haspopup="true">
            <svg width="24" height="24">
                <path d="M5 6h14M5 12h14M5 18h14" fill="none" stroke="white" stroke-width="2" stroke-linecap="round">
                </path>
            </svg>
        </button>
    </div>
    <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
            <a href="/" class="block mt-4 sm:inline-block sm:mt-0 text-white hover:font-bold mr-4"> Home </a>
            <a href="/home/login" class="block mt-4 sm:inline-block sm:mt-0 text-white hover:font-bold mr-4"> Login </a>
        </div>
    </div> -->
    <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class=" text-sm sm:flex-grow">
                <!--Working, but till button above is working, do not worry about
                <a href="/" class=" mt-4 invisible sm:visible text-white hover:font-bold mr-4"> Home </a>-->
                <div class="actions inline-block px-6 py-2.5 bg-slate-300 text-black font-medium text-xs leading-tight uppercase rounded shadow-md hover:text-white hover:bg-slate-800 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out">
                    <%= link_to "Home", root_path %>
                </div>
                <div class="actions inline-block px-6 py-2.5 bg-slate-300 text-black font-medium text-xs leading-tight uppercase rounded shadow-md hover:text-white hover:bg-slate-800 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out">
                    <%= link_to "Pizza Toppings", toppings_path %>
                </div>
        </div>
        <div class=" relative inline-block mr-4 text-sm ">
            <% if admin_signed_in? %>
                <div class="actions inline-block px-6 py-2.5 bg-slate-300 text-black font-medium text-xs leading-tight uppercase rounded shadow-md hover:text-white hover:bg-slate-800 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out">
                    <%= button_to "SIGN OUT", destroy_admin_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to Sign Out?' }, method: :delete,  form: {style: 'display:inline-block;'} %>
                </div>
                <div class="actions inline-block px-6 py-2.5 bg-slate-300 text-black font-medium text-xs leading-tight uppercase rounded shadow-md hover:text-white hover:bg-slate-800 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out">
                    <%= link_to "Account", edit_admin_registration_path %>
                </div>
            <% else %>    
            <div class="actions inline-block px-6 py-2.5 bg-slate-300 text-black font-medium text-xs leading-tight uppercase rounded shadow-md hover:text-white hover:bg-slate-800 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out">
                <%= link_to "Sign in", new_admin_session_path %>
            </div>
            <% end %>
        </div>
        </div>
</nav>
